<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ŠIFROVAČKA WEB APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    
</head>
<body>
    <h2>JBC CODE 2025</h2>
    <div id="codeinput">
        <input id="teamid" type="text" placeholder="Kód týmu.">
        <button id="loginbutton" class="mbutton">OK</button>
    </div>
    <div id ="textinfo" class={{msgcolor}}>Info: {{msg}}</div>
    <p id="devinfo">Kdyby něco nefungovalo, pište na 732781691. Autor aplikace.</p>
    <script src="{{ url_for('static', filename='scripts/script_index.js') }}"></script>
</body>
</html>